{% extends "base/base.html" %} {% block title %}
<title>Login</title>
{% endblock %} {% block styling %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='login/style.css')}}"
/>
<script
  src="https://kit.fontawesome.com/9aa37d3e5d.js"
  crossorigin="anonymous"
></script>
{% endblock %} {% block html_content %}
<div class="container-fluid p-0">
  <div
    class="container-page row justify-content-center align-items-center mx-auto"
  >
    <div
      class="signin-form p-3 col-xxl-3 col-lg-5 col-md-8 col-sm-7 col-xs-7 col-9 shadow-lg rounded-4"
    >
      <div class="mb-3 text-center">
        <div class="h1 font-weight-normal" style="color: white">Sign In</div>
      </div>
      {% with messages = get_flashed_messages(category_filter=["flashes-error"])
      %} {% if messages %}
      <div class="col-12">
        <ul
          class="justify-content-center mb-3 flashes"
          style="list-style: none"
        >
          {% for message in messages %}
          <li class="flashes-error">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endwith %} {% with messages =
      get_flashed_messages(category_filter=["flashes-success"]) %} {% if
      messages %}
      <ul
        class="row justify-content-center mb-3 flashes"
        style="list-style: none"
      >
        {% for message in messages %}
        <li class="flashes-success">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-outline mb-3">
          <label for="InputEmail" class="form-label visually-hidden"
            >Email address</label
          >
          {{ form.email(class="form-control", placeholder="Email", type="email",
          id="InputEmail") }}
        </div>
        <div class="form-outline mb-3">
          <label for="InputPassword" class="form-label visually-hidden"
            >Password</label
          >
          {{ form.password(class="form-control", placeholder="Password",
          id="InputPassword")}}
        </div>
        {{ form.submit(class="form-control btn btn-primary mb-3") }}
      </form>
      <div class="row mb-4">
        <div class="d-flex justify-content-start col-6 redirect">
          <a href="{{ url_for('root.user.register') }}">
            Don't have an account yet? Sign Up
          </a>
        </div>
        <div class="d-flex justify-content-end col-6 redirect">
          <a href="{{ url_for('root.request_reset_password.request') }}">
            Forgot Password?
          </a>
        </div>
      </div>
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
      </div>
      <div class="social-auth">
        <a class="google-row" href="{{ url_for('root.oauth.google_login') }}">
          <button
            class="d-flex row col-12 justify-content-start align-items-center btn btn-google btn-login ms-auto me-auto mb-2"
            role="button"
          >
            <i class="fab fa-google me-2 col-1"></i>
            <span class="col-10"> Sign in with Google </span>
          </button>
        </a>
        <a
          class="facebook-row"
          href="{{ url_for('root.oauth.facebook_login') }}"
        >
          <button
            class="d-flex row col-12 justify-content-start align-items-center btn btn-facebook btn-login ms-auto me-auto mb-2"
            role="button"
          >
            <i class="fab fa-facebook-f me-2 col-1"></i>
            <span class="col-10"> Sign in with Facebook </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
