{% extends "base.html" %} {% block title %}
<title>We updated ou terms of use</title>
{% endblock %} {% block style %}
<link rel="stylesheet" type="text/css" href="dist/compliance_form.css" />
{% endblock %} {% block content %}
<div class="container-fluid p-0">
  <div
    class="container-page row justify-content-center align-items-center text-center"
  >
    <div class="signin-form col-5 shadow-lg rounded">
      {% with messages = get_flashed_messages(category_filter=["error-terms"])
      %} {% if messages %}
      <ul class="justify-content-center mb-3 flashes" style="list-style: none">
        {% for message in messages %}
        <li class="flashes-error">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% with messages =
      get_flashed_messages(category_filter=["success-terms"]) %} {% if messages
      %}
      <ul class="justify-content-center mb-3 flashes" style="list-style: none">
        {% for message in messages %}
        <li class="flashes-success">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <div class="form">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-check mb-3">
            {{ form.agree(class="form-check-input", type="checkbox",
            value="true", id="CheckChoice") }}
            <label for="CheckChoice" class="form-check-label"
              >Agree to the new
              <a href="{{url_for('root.web.terms_app.terms_of_use_controller')}}"
                >terms of use</a
              ></label
            >
          </div>
          <div class="mb-3">
            {{ form.submit(class="form-control btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
