{% extends "base.html" %} {% block title %}
<title>Forgot Password</title>
{% endblock %} {% block style %}
<link rel="stylesheet" type="text/css" href="password_lost_request.css" />
{% endblock %} {% block content %}
<div class="container-fluid p-5 mt-0 mb-0 ms-0 me-0">
  <div class="row justify-content-center align-items-center text-center">
    <div class="signin-form col-5 shadow-lg rounded">
      <div class="mb-3 mt-3">
        <div class="h5 font-weight-normal" style="color: white">
          Insert your email
        </div>
      </div>
      {% with messages =
      get_flashed_messages(category_filter=["error-forgetpass"]) %} {% if
      messages %}
      <ul
        class="container-fluid justify-content-center mb-3 flashes"
        style="list-style: none"
      >
        {% for message in messages %}
        <li class="flashes-error">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% with messages =
      get_flashed_messages(category_filter=["success-forgetpass"]) %} {% if
      messages %}
      <ul
        class="container-fluid justify-content-center mb-3 flashes"
        style="list-style: none"
      >
        {% for message in messages %}
        <li class="flashes-success">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <div class="p-3">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-outline mb-3">
            <label for="InputEmail" class="form-label visually-hidden"
              >Email address</label
            >
            {{ form.email(class="form-control", placeholder="Enter Email",
            type="email", id="InputEmail") }}
          </div>
          {{ form.submit(class="form-control btn btn-primary mb-3") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
