{% extends "base.html" %} {% block title %}
<title>Settings</title>
{% endblock %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='settings.css')}}"
/>
{% endblock %} {% block dependencies %}
<!-- Google Geomap Tag-->
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<!-- fontawsome -->
<script
  src="https://kit.fontawesome.com/9aa37d3e5d.js"
  crossorigin="anonymous"
></script>

<!-- Requested Data-->
{% endblock %} {% block content %}
<div class="container-fluid p-0">
  <div class="d-flex display justify-content-center align-items-center">
    <div class="banner shadow-lg rounded">
      <ul class="row nav nav-tabs m-auto" id="myTab" role="tablist">
        <li class="nav-item col-6 p-0" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Profile
          </button>
        </li>
        <li class="nav-item col-6 p-0" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Security
          </button>
        </li>
      </ul>
      <div class="tab-content m-5" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          {% with messages =
          get_flashed_messages(category_filter=["flash-errors"]) %} {% if
          messages %}
          <div class="col-12">
            <ul
              class="justify-content-center mb-3 flashes"
              style="list-style: none"
            >
              {% for message in messages %}
              <li class="flash-error">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %} {% endwith %} {% with messages =
          get_flashed_messages(category_filter=["flash-success"]) %} {% if
          messages %}
          <ul
            class="row justify-content-center mb-3 flashes"
            style="list-style: none"
          >
            {% for message in messages %}
            <li class="flash-success">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <div class="LinkedAccountRow mb-5">
            <div class="mrow row">
              <div class="col-12">
                <div class="input-group row m-auto">
                  {% if current_user.oauth %}
                  <div class="input-group-prepend col-4 p-0">
                    <div class="input-group-text">Linked Account</div>
                  </div>
                  <input
                    class="form-control col-8"
                    type="text"
                    id="staticemail"
                    placeholder="{{current_user.oauth[0].provider | title}}"
                    readonly
                  />
                  {% else %}
                  <div class="input-group-prepend col-4 p-0">
                    <div class="input-group-text">Email</div>
                  </div>
                  <input
                    class="form-control col-8"
                    type="text"
                    id="staticemail"
                    placeholder="None"
                    readonly
                  />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="DeleteAccountRow mb-5">
            <div class="d-flex col-12 justify-content-center mb-5">
              <form
                id="deleteAccountForm"
                method="POST"
                action="{{url_for('root.web.user.account_deletion_app.controller')}}"
                onsubmit="return confirmDelete(event)"
              >
                {{ deletion_form.hidden_tag() }}
                {{deletion_form.submit(class="btn btn-danger") }}
              </form>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="col-12 justify-content-center mb-5">
            <form
              method="POST"
              action="{{url_for('root.web.user.account_edit_password_app.controller')}}"
            >
              {{ edit_password_form.hidden_tag() }}
              <div class="input-group row m-auto mb-4">
                <div class="input-group-prepend col-4 p-0">
                  <div class="input-group-text">Current Password</div>
                </div>
                {{ edit_password_form.current_password(class="form-control
                col-8", placeholder="Current password", type="password",
                id="InputCurrentPassword") }}
              </div>
              <div class="input-group row m-auto mb-4">
                <div class="input-group-prepend col-4 p-0">
                  <div class="input-group-text">New Password</div>
                </div>
                {{ edit_password_form.new_password(class="form-control col-8",
                placeholder="New Password", type="password",
                id="InputNewPassword") }}
              </div>
              <div class="input-group row m-auto mb-4">
                <div class="input-group-prepend col-4 p-0">
                  <div class="input-group-text">Password Confirmation</div>
                </div>
                {{ edit_password_form.new_password_2(class="form-control col-8",
                placeholder="Password Confirmation", type="password",
                id="InputNewPassword2") }}
              </div>
              <div class="d-flex justify-content-center">
                {{edit_password_form.submit(class="btn btn-warning") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  function confirmDelete(event) {
    if (!confirm('Are you sure you want to delete your account? This action cannot be undone.')) {
        event.preventDefault();
        return false;
    }
    return true;
  }
</script>
{% endblock %}
