{% extends "base/base.html" %} {% block title %}
<title>Dashboard</title>
{% endblock %} {% block styling %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='dashboard/style.css')}}"
/>
{% endblock %} {% block scripts_imports %}
<!-- Google Geomap Tag-->
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<!-- fontawsome -->
<script
  src="https://kit.fontawesome.com/9aa37d3e5d.js"
  crossorigin="anonymous"
></script>

<!-- Requested Data-->
<script>
  const jdata = "{{ data|tojson|safe }}";
</script>
{% endblock %} {% block html_content %}
<div class="top-cont container-fluid p-0">
  <div class="large-container text-center bg-image">
    <div class="blurry">
      <div class="banner d-flex align-items-center justify-content-center">
        <div class="select-choice rounded pt-3 pb-3">
          <div
            class="selects row align-items-center justify-content-center mb-3"
          >
            <div class="col-4">
              <div class="flag mb-2">
                <img
                  id="img-flag-from"
                  src="https://flagcdn.com/h240/{{from_.iso_2 | lower}}.png"
                  crossorigin="anonymous"
                  alt="{{from_.name}}"
                  class="rounded img-flag"
                />
              </div>
              <div class="mt-auto">
                <select
                  id="select-country-from"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected value="{{from_.iso_2}}">
                    {{from_.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-1 mx-2">
              <i
                class="fa-solid fa-arrow-right fa-2xl"
                style="color: white"
              ></i>
            </div>
            <div class="col-4">
              <div class="flag mb-2">
                <img
                  id="img-flag-to"
                  src="https://flagcdn.com/h240/{{to_.iso_2 | lower}}.png"
                  crossorigin="anonymous"
                  alt="{{to_.name}}"
                  class="rounded img-flag"
                />
              </div>
              <div class="mt-auto">
                <select
                  id="select-country-to"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected value="{{to_.iso_2}}">{{to_.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <a
            id="go-to"
            class="download-row"
            href="http://localhost:7070/dashboard/US/US"
          >
            <button
              class="d-flex row col-4 justify-content-start align-items-center btn btn-primary ms-auto me-auto mb-2"
              role="button"
            >
              <i class="fa-solid fa-check col-1" style="color: #ffffff"></i>
              <span class="col-10" style="color: white"> Launch </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="display">
    <div class="mx-5 pt-5 pb-2">
      <div class="csrow">
        <div class="shadow rounded pb-1" style="background-size: cover">
          <div class="h4 title-set text-center">
            Evolution of the situation per country
          </div>
          <div class="chart-container" style="position: relative; height: 50vw">
            <canvas id="line-1" style="height: 100%; width: 100%"></canvas>
          </div>
          <div
            class="d-flex col-6 justify-content-center align-items-center mx-auto"
          >
            <a
              class="d-flex col-md-4 col-xl-4 col-sm-6 col-xs-6 download-row my-auto justify-content-center"
              href="http://localhost:7070/dashboard/download/{{from_.iso_2}}/{{to_.iso_2}}"
            >
              <button class="row col-12 btn btn-warning" role="button">
                <i class="fa-solid fa-download fa-lg col-2"></i>
                <span class="col-10"> Download </span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="{{url_for('static',filename='dist/dashboard.bundle.js') }}"
  type="text/javascript"
></script>
{% endblock %}
