body, html {
    width: 100%;
    height: 100%;
}

.large-container{
    background-image: url('https://jooinn.com/images/blue-flower-91.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0%;
}

.from{
    background-color: rgb(65, 105, 225, 0.8);
}

.blurry{
    background-color: rgb(128, 0, 128,0.2);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.select-choice{
    background: rgba(0,0,0, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.2);
    width: auto;
}

.img-flag{
    width: 100%;
    height: 240px
}

.banner{
    height: 100%;
}

.display{
    background: -webkit-linear-gradient(top, #06068D ,#4169e1,skyblue);
    min-height: 100%;
}

.title-set{
    color: white;
    text-align: center;
}

.chart-container{
	position: relative;
	width: 100% !important;
    height: 1299px !important;
  }

.flag-img:hover ~ .hide{
	visibility: visible;
}

.hide{
	position: relative;
	visibility: hidden;
	background-color: black;
    color: white;
	text-align: center;
	z-index: 0;
}

a {
    text-decoration: none !important;
}

.chart-container{
    height: 50vh;
}

@media (min-width: 200px) and (max-width: 500px) {
	.chart-container{
		position: relative;
		width: 100% !important;
		height: 200px !important;
	  }
}

@media (min-width: 500px) and (max-width: 700px) {
	.chart-container{
		position: relative;
		width: 100% !important;
		height: 300px !important;
	  }
}

@media (min-width: 700px) and (max-width: 1000px) {
	.chart-container{
		position: relative;
		width: 100% !important;
		height: 500px !important;
	  }
}