@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("https://jooinn.com/images/blue-flower-91.jpg");
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  /* Push to bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.signin-form {
  background: rgba(0, 0, 0, 0.8);
}

.flashes-error {
  text-align: center;
  color: red;
}
